<!DOCTYPE html>
<html>
<head>
    <title>Obranalysis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .checkbox-container {
            overflow-y: auto;
            max-height: 500px;
        }
    </style>
</head>
<body>
<div class="container">
  <div class="row align-items-center mb-3">
    <div class="col-md-4">
      <select id="templates-select" class="form-control">
        <option value="">Выберите шаблон...</option>
        <option value="template1">Средний балл</option>
        <option value="template6">Средний балл по районам</option>
        <option value="template2">Школы с лучшим средним баллом</option>
        <option value="template3">Средний процент выполнения заданий</option>
        <!-- <option value="template4">Процент выполнения определённой части заданий</option> -->
        <option value="template5">Количество участников</option>
      </select>
    </div>
    <div class="col-md-8 d-flex justify-content-end align-items-center">
      <select id="year-select" class="form-control mr-2" style="width: 100px;">
        {% for year in years_list %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
      <button id="generate-press-release-btn" type="button" class="btn btn-primary">Составить пресс-релиз</button>
    </div>
  </div>
</div>

<div id="content"></div>

<script>
    var graphData = "{{ graph_data }}";
    $(document).ready(function () {
        $('#templates-select').change(function () {
            var selectedTemplate = $(this).val();
            if (selectedTemplate) {
                $.ajax({
                    url: '/load_template/',
                    data: {
                        'template': selectedTemplate
                    },
                    dataType: 'html',
                    success: function (data) {
                        $('#content').html(data);
                        if (selectedTemplate === 'template1') {
                            $('#graph-img').attr('src', 'data:image/png;base64,' + graphData);
                        }
                    },
                    error: function () {
                        alert('Ошибка при загрузке шаблона');
                    }
                });
            } else {
                $('#content').html('');
            }
        });



        $('#generate-press-release-btn').click(function () {
        var selectedYear = $('#year-select').val();
        if (selectedYear) {
            window.location.href = '{% url "generate_press_release" %}?year=' + selectedYear;
        } else {
            alert('Пожалуйста, выберите год.');
        }
    });
    });
</script>

</body>
</html>




