<!DOCTYPE html>
<html>
<head>
    <title>Obranalysis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <select id="templates-select">
        <option value="">Выберите шаблон...</option>
        <option value="template1">Шаблон 1</option>
        <option value="template2">Шаблон 2</option>
    </select>
    <div id="content"></div>

    <script>
    $(document).ready(function() {
        $('#templates-select').change(function() {
            var selectedTemplate = $(this).val();
            if (selectedTemplate) {
                $.ajax({
                    url: '/load_template/',
                    data: {
                        'template': selectedTemplate
                    },
                    dataType: 'html',
                    success: function(data) {
                        $('#content').html(data);
                    },
                    error: function() {
                        alert('Ошибка при загрузке шаблона');
                    }
                });
            } else {
                $('#content').html('');
            }
        });
    });
    </script>
</body>
</html>




