<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <h1>Средние баллы по предметам</h1>
        <div id="graph-img"></div>


    <div id="checkbox-container">
            {% for subject in subjects_list %}
            <label for="checkbox{{ subject.0 }}">{{ subject.1 }}:</label>
            <input type="checkbox" id="checkbox{{ subject.0 }}" value="{{ subject.1 }}" name="subjects">
        {% endfor %}
    </div>
    <div id="checkbox-container-years">
        {% for year in years_list %}
            <label for="checkbox-year{{ year }}">{{ year }}:</label>
            <input type="checkbox" id="checkbox-year{{ year }}" value="{{ year }}" name="years">
        {% endfor %}
    </div>

    <button id="update-graph">Применить</button>

<script>
$(document).ready(function() {
    $('#update-graph').click(function() {
        var selectedSubjects = [];
        var selectedYears = [];

        $('input[name="subjects"]:checked').each(function() {
            selectedSubjects.push(parseInt($(this).attr('id').substring(8), 10));
        });

        $('input[name="years"]:checked').each(function() {
            selectedYears.push(parseInt($(this).val(), 10));
        });

        $.ajax({
            url: '/update_graph1/',
            data: {
                'subjects': selectedSubjects,
                'years': selectedYears
            },
            dataType: 'html',
            success: function(data) {
                $('#graph-img').html(data);
            },
            error: function() {
                alert('Ошибка при построении графика, выберите другие данные');
            }
        });
    });
});
</script>
</body>


</html>